

<div class="col-xs-10 col-xs-offset-1 see-box text-center">
<h1 class="custom-h1"> 
	Check out my awesome App! (Once again better than Nelson's) #competitionmodeon 
</h1>

	<%=  
		link_to 'Launch', posts_path, :class => 'btn btn-danger'







	%>
</div>