
 <% @posts.each do |post| %>
 	<div  class="genie-box text center col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-1">
 	<h1>
 		<%= post.title %>
 	</h1>
 		<%= post.description %>

 	</div>
 <% end %>
