@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

.see-box {
	box-shadow: 2px -2px 2px 2px rgba(57, 174, 207, 1);
	background-color: rgba(36,32,33,0.50);
	padding: 1%;
	margin-top: 50px;
	color: white;
	font-family:'Helvetica Neue';
	font-weight: 'Lightest';

}
.static_pages{ 
	 background: url('dog.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


} 

.posts_pages {

	 background: url('tweed.png') repeat;
}
.genie-box{
-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
box-shadow: 1px 1px 2px 0 #d0d0d0;
background: white;
border: 1px solid #ccc;
border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
margin-bottom: 20px;
padding: 20px;
margin-top: 10px;
}
body {
  

}

.custom-h1 {
	color:White;
	  font-family: 'Helvetica Neue Light', "Helvetica Neue", "Helvetica", "san-serif";
  font-weight: 'lighter';
  font-size: 24px;

}

.navbar-brand {
	font-family: 'Poiret One';
}